* {
    box-sizing: border-box;
    background-color: rgb(2,204,211);
    
}
a {
    text-decoration: none;
    color: black;
}
header {
    width: 100%;
    font-size: 18px;
    background: #fff;
    height: 100px;

}
header .logo-text {
   background-color: #fff;
}
header .logo {
    display: inline-block;
    width: 40%;
    margin-left: 300px;
    font-size: 34px;
}
header .nav-menu {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 15px 5px;
    background-color: #fff;
}
header .nav-menu ul li  {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    background-color: #fff;
    
}
header .nav-menu ul li a{
    display: inline-block;
    background-color: #fff;
}
header .nav-menu ul:hover li:hover  {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    border-radius: 3%;
    background: lightgrey;
    color:white;
}
header .search {
    display: inline-block;
    background-color: #fff;
}
header, button {
    display: inline-block;
    background-color: #fff;
    
}

.call-us {
    padding: 20px;
    margin-top: 5px;;
}

.toparea {
    color: white;
    background-color: rgb(2,204,211);
}

/* reference .http://khpoolservices.com/ */